[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
numpy = ">=1.21,<1.26"
morse-code-converter = "*"
sounddevice = "*"
pytest = "*"

[dev-packages]
ruff = "*"
exceptiongroup = "*"
tomli = "*"

[requires]
python_version = "3.11"
