[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
build = "*"
morse-code-converter = {file = ".", editable = true}
numpy = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"
